# Get your free API key from https://fred.stlouisfed.org/docs/api/api_key.html
FRED_API_KEY=""
ANTHROPIC_API_KEY=""

DATABASE_URL="""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

JWT_SECRET=""

